*.DS_Store
*.texpadtmp
*.ipynb_checkpoints
*.jupyter

*.aux
*.log
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.bbl
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.fls
*.fdb_latexmk

archive/*
*/main.pdf
main.pdf

*.original
*.autosave*
*.swp

revision.tex
Main.toc

ignore/
build/